# =========================
# Python Bytecode
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Virtual Environments
# =========================
venv/
.venv/
env/
ENV/

# =========================
# IDE Settings
# =========================
.vscode/
.idea/

# =========================
# Operating System Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Environment Variables
# =========================
.env

# =========================
# Build & Distribution
# =========================
build/
dist/
*.egg-info/
*.spec

# =========================
# Matplotlib Cache
# =========================
.matplotlib/

# =========================
# Log Files
# =========================
*.log

# =========================
# Temporary Files
# =========================
*.tmp
*.temp